@import url(https://fonts.googleapis.com/css?family=Gugi|Roboto+Condensed:300,300i,400,700);
.jumbotron.jumbotron--parallax {
  height: 100vh;
  background-image: url(images/9eb7ea4ed416bf0b1d4c2a7e090edf6d.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; }

.jumbotron.jumbotron--moon-parallax {
  height: 500px;
  background-image: url(images/cc13b9f15eddd23f2d6e67ead4698417.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; }

.jumbotron.jumbotron--iss-parallax {
  height: 500px;
  background-image: url(images/63c176dac1f1794f1ecf3bf937f6c8dd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; }

.jumbotron__parallax-container {
  height: 100%; }

.jumbotron__graphic-element {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat; }

.jumbotron__graphic-element--element-1 {
  background-image: url(images/5f95664c21719ecf731ab1604d934476.png); }

.jumbotron__graphic-element--element-2 {
  background-image: url(images/58cc87d444536602a52c6b5091b28b8d.png); }

.jumbotron__graphic-element--element-3 {
  background-image: url(images/9eb7ea4ed416bf0b1d4c2a7e090edf6d.jpg); }

.jumbotron__graphic-element--element-4 {
  background-image: url(images/e5077edae779ffde18d03483cbe184a4.png); }

.jumbotron__graphic-element--element-5 {
  background-image: url(images/56bad80c0df367bbf549493bdaf37c56.png); }

.jumbotron__text-element {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 100vh;
  color: white;
  font-family: 'Gugi', cursive;
  font-size: 3rem;
  text-shadow: #6f618a 0 2px 55px; }

.jumbotron__text-element--shadow {
  color: black;
  font-size: 3.2rem;
  filter: blur(15px); }

.jumbotron__scroll-down {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  transform: translateY(15px);
  transition-duration: 400ms; }

.jumbotron__scroll-down--active {
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 400ms; }

.jumbotron.jumbotron--moon-parallax .jumbotron__text-element {
  line-height: 500px;
  text-shadow: none;
  color: #000000; }

.jumbotron.jumbotron--iss-parallax .jumbotron__text-element {
  line-height: 500px;
  text-shadow: none;
  color: #00ffcc; }

.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px; }

.scroll-down__icon {
  position: relative;
  width: 20px;
  height: 35px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  margin-bottom: 10px; }
  .scroll-down__icon:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 100%;
    background-color: #ffffff;
    left: 0;
    right: 0;
    top: 7px;
    margin: 0 auto;
    animation-name: scroll-down;
    animation-duration: 1.2s;
    animation-iteration-count: infinite; }

.scroll-down__text {
  text-transform: uppercase;
  font-size: 60%;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.3em;
  font-weight: 400; }

@keyframes scroll-down {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(10px); } }

.presenter {
  background-color: #4623a1; }
  .presenter > .container {
    display: flex; }

.presenter__picture {
  position: relative;
  z-index: 1038;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 35px; }
  .presenter__picture:before, .presenter__picture:after {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: #ffffff;
    z-index: -1;
    border-radius: 45px 0px 45px 0px; }
  .presenter__picture:before {
    transform: translateX(-20px) translateY(-20px); }
  .presenter__picture:after {
    bottom: 0;
    right: 0;
    transform: translateX(20px) translateY(20px); }
  .presenter__picture img {
    display: block;
    border-radius: 40px 0 40px 0;
    overflow: hidden; }

.presenter__picture.scroll-reveal.scroll-reveal--active:before {
  transform: translateX(-7px) translateY(-7px); }

.presenter__picture.scroll-reveal.scroll-reveal--active:after {
  transform: translateX(7px) translateY(7px); }

.presenter__picture.scroll-reveal.scroll-reveal--active:before, .presenter__picture.scroll-reveal.scroll-reveal--active:after {
  transition-delay: 200ms;
  transition-duration: 1000ms; }

.presenter__info {
  margin-left: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.presenter__title {
  position: relative;
  font-size: 2.4rem;
  font-weight: 100;
  color: #fff;
  font-family: 'Gugi', cursive;
  margin-bottom: 10px; }
  .presenter__title:before, .presenter__title:after {
    overflow: hidden;
    content: '';
    position: absolute;
    bottom: -15px;
    height: 6px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.6);
    background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.4) 100%);
    background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.4) 100%); }
  .presenter__title:before {
    width: 60%; }
  .presenter__title:after {
    width: 10%;
    background: rgba(255, 255, 255, 0.3);
    left: 61%; }

.presenter__text {
  padding: 20px 0;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.7);
  font-size: 120%;
  letter-spacing: 0.05em;
  line-height: 130%; }
  .presenter__text strong {
    font-weight: 500;
    color: white; }

.presenter--right > .container {
  flex-direction: row-reverse; }

.presenter--right .presenter__title {
  text-align: right; }
  .presenter--right .presenter__title:before {
    background: rgba(255, 255, 255, 0.6);
    background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.9) 100%);
    background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.9) 100%);
    left: auto;
    right: 0; }
  .presenter--right .presenter__title:after {
    left: auto;
    right: 61%; }

.presenter--right .presenter__text {
  text-align: right; }

.presenter--water {
  background-color: #00ffcc; }
  .presenter--water .presenter__title {
    color: #000000; }
    .presenter--water .presenter__title:before {
      background: rgba(0, 0, 0, 0.6);
      background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%);
      background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%); }
    .presenter--water .presenter__title:after {
      background: rgba(0, 0, 0, 0.3); }
  .presenter--water.presenter--right .presenter__title:before {
    background: rgba(0, 0, 0, 0.6);
    background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%); }
  .presenter--water .presenter__text {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400; }
    .presenter--water .presenter__text strong {
      color: #000000;
      font-weight: 700; }

.presenter--basalt {
  background-color: #4d5558; }

.presenter--regolith {
  background-color: #838383; }

.slider {
  padding: 50px 20px; }

.slider__item-container {
  margin: 0 10px; }

.slider__item {
  color: white;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 35px 0; }

.slider__picture {
  position: relative; }
  .slider__picture img {
    display: block;
    width: 100%;
    border-radius: 40px 0;
    filter: grayscale(100%) contrast(120%);
    transition-duration: 500ms; }
  .slider__picture:before, .slider__picture:after {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: #ffffff;
    z-index: -1;
    border-radius: 45px 0px 45px 0px; }
  .slider__picture:before {
    transform: translateX(-5px) translateY(-5px); }
  .slider__picture:after {
    bottom: 0;
    right: 0;
    transform: translateX(5px) translateY(5px); }

.slider__title {
  font-size: 1.5rem;
  color: #00ffcc;
  font-family: 'Gugi', cursive;
  margin: 20px 0;
  text-align: center; }

.slider__text {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 100; }

.slick-slide {
  padding: 10px;
  box-sizing: border-box; }

.btn {
  display: inline-block;
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 2px;
  border: 2px solid #ffffff;
  border-radius: 20px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 95%;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition-duration: 300ms; }
  .btn:hover, .btn.btn--reversed {
    background-color: #ffffff;
    color: #4d5558;
    border-color: transparent; }
  .btn:hover {
    transition-duration: 500ms;
    transform: translateY(2px); }
  .btn .fab {
    margin-right: 5px;
    margin-left: -2px;
    opacity: .6; }

.btn--dark-sky {
  border-color: #4623a1;
  color: #4623a1; }
  .btn--dark-sky:hover, .btn--dark-sky.btn--reversed {
    background-color: #4623a1;
    color: #ffffff; }

.btn--water {
  border-color: #00ffcc;
  color: #00ffcc; }
  .btn--water:hover, .btn--water.btn--reversed {
    background-color: #00ffcc;
    color: #000000; }

.btn--basalt {
  border-color: #4d5558;
  color: #838383; }
  .btn--basalt:hover, .btn--basalt.btn--reversed {
    background-color: #4d5558;
    color: #ffffff; }

.btn--regolith {
  border-color: #838383;
  color: rgba(255, 255, 255, 0.7); }
  .btn--regolith:hover, .btn--regolith.btn--reversed {
    background-color: #838383;
    color: #000000; }

.center {
  display: flex;
  justify-content: center; }

.mt-1 {
  margin-top: 10px; }

.mt-2 {
  margin-top: 20px; }

.mt-3 {
  margin-top: 30px; }

.gallery {
  padding: 30px 0;
  background-color: #111;
  background-image: url(images/39c33b3b031a3a901bbc384145584e49.jpg);
  background-repeat: repeat-y;
  background-position: center; }
  .gallery > .container {
    display: flex;
    flex-wrap: wrap; }

.gallery__item {
  padding: 20px;
  box-sizing: border-box;
  width: 25%; }

.gallery__item-picture {
  position: relative;
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 0 40px; }
  .gallery__item-picture:before, .gallery__item-picture:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #4623a1;
    z-index: 0;
    border-radius: 25px 0px 25px 0px; }
  .gallery__item-picture:before {
    transform: translateX(-5px) translateY(-5px); }
  .gallery__item-picture:after {
    bottom: 0;
    right: 0;
    transform: translateX(5px) translateY(5px); }
  .gallery__item-picture img {
    position: relative;
    z-index: 2;
    border-radius: 20px 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(100%); }

.contact {
  background: #111111 url(images/39c33b3b031a3a901bbc384145584e49.jpg) repeat-y center;
  padding: 50px; }
  .contact > .container {
    display: flex; }

.contact__col {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.6); }
  .contact__col h2 {
    color: white;
    font-size: 200%;
    font-family: 'Gugi', cursive;
    font-weight: 100; }
  .contact__col p {
    font-size: 120%;
    line-height: 130%;
    letter-spacing: 0.05em;
    font-weight: 100; }
    .contact__col p strong {
      color: white;
      font-weight: bold; }

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px; }

.stats__item {
  width: 30%;
  text-align: center; }

.stats__icon .fas, .stats__icon .fab {
  display: block;
  font-size: 2rem; }

.stats__icon span {
  font-size: 140%;
  font-family: 'Gugi';
  display: inline-block;
  padding: 10px;
  color: white; }

.stats__description {
  letter-spacing: 0.15em;
  font-size: 80%;
  font-weight: 700;
  text-transform: uppercase; }

.form {
  display: block; }

.form__row {
  padding: 8px; }

.form__row label {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 80%;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 10px; }

.form__row input {
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid #838383;
  border-radius: 15px 0;
  padding: 12px;
  box-sizing: border-box;
  width: 100%;
  color: #838383;
  font-size: 110%;
  transition-duration: 400ms;
  letter-spacing: 0.15em; }
  .form__row input:focus {
    border-color: white;
    color: white;
    transform: translateY(2px);
    transition-duration: 400ms; }
  .form__row input::placeholder {
    font-size: 85%;
    letter-spacing: 0.03em;
    opacity: .7; }

.menu {
  list-style: none;
  padding: 0;
  margin: 0; }

.menu__item {
  margin: 0;
  padding: 0; }
  .menu__item a {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.1em;
    text-shadow: transparent 0 3px 2px, transparent 0 -3px 2px;
    transition-duration: 200ms;
    transform: translateY(0); }
    .menu__item a:hover {
      color: white;
      transition-duration: 400ms;
      transform: translateY(2px); }
  .menu__item .fas {
    margin-right: 5px; }

.header {
  position: fixed;
  z-index: 1039;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 55px;
  width: 100%;
  display: flex;
  align-items: center;
  height: 80px;
  transition-duration: 500ms; }
  .header > .container {
    display: grid;
    grid-template-columns: 250px auto auto; }

.header--active {
  background-color: #4d5558;
  transition-duration: 800ms; }

.logo {
  display: flex;
  align-items: center; }

.logo__icon {
  width: 40px;
  height: 40px;
  background-image: url(images/645528452cee891682d9f16fcbce951e.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.logo__text {
  font-family: 'Gugi', cursive;
  color: #ffffff;
  padding: 0 15px;
  font-size: 140%;
  cursor: default; }

.social-menu {
  display: flex;
  align-items: flex-end;
  list-style: none;
  padding: 0;
  margin: 0; }

.social-menu__item a {
  display: inline-block;
  padding: 10px;
  color: rgba(255, 255, 255, 0.5);
  transition-duration: 200ms;
  font-size: 120%; }
  .social-menu__item a:hover {
    color: white;
    transition-duration: 300ms; }

.header .menu {
  display: flex;
  justify-content: center; }
  .header .menu a {
    padding: 15px 20px; }
    .header .menu a:hover {
      color: #00ffcc; }

.footer {
  background-color: #000000;
  padding: 50px; }
  .footer > .container {
    display: flex;
    align-items: center; }
  .footer .menu__item a {
    font-weight: 100; }
  .footer p {
    font-weight: 100; }
    .footer p:not(.footer__license) {
      letter-spacing: 0.05em;
      color: rgba(255, 255, 255, 0.4);
      font-size: 110%; }

.footer__col {
  width: 40%; }

.footer__license {
  font-size: 80%;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.3); }
  .footer__license a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    transition-duration: 200ms;
    border-radius: 10px 0;
    font-weight: 500; }
    .footer__license a:hover {
      border-color: transparent;
      background-color: #4623a1;
      color: white;
      transition-duration: 400ms; }

.rd--large,
.rd--medium,
.rd--small {
  display: none; }

@media (min-width: 300px) and (orientation: portrait) {
  .rd--small {
    display: inherit; } }

@media (min-width: 700px) and (orientation: portrait) {
  .rd--medium {
    display: inherit; } }

@media (max-width: 400px) and (orientation: portrait) {
  .jumbotron__scrol-down {
    display: none; } }

@media (max-width: 800px) and (orientation: portrait) {
  .header .menu {
    display: none; }
  .social-menu {
    display: none; } }

html, body {
  height: 100%; }

body {
  background: black;
  font-family: 'Roboto Condensed', sans-serif;
  height: 2000px;
  font-size: 16px; }

.container {
  width: 1200px;
  margin: 0 auto; }

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

